/*************************
GENERAL
*************************/

body, .loader {
	margin: 0 auto;	
	max-width: 100%;
	text-align: center;
}

#content-wrapper {
	max-width: 800px;
	width: 80%;
	display: inline-block;
}

head {
	font-family: 'Libre Baskerville' serif;
	font-weight: none;
	width: 100%;
	margin-top: 0;
	padding-top: 0;
}
nav a.selected, nav a:hover {
	color: #113FAB;
} 

.loader {
	padding: 0 2.5%;
	margin: -5px 0 0;
	text-align: center;
}

.loader h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	text-align: center;
	margin: 10px 0;
	height: 37px; 
	text-decoration: underline; 
	color: #297ACC;
	
}

.loader img {
	max-width: 142.5px;
	max-height: 204px;
	border-radius: 10%;
	display: block;
	margin: 20px auto 10px;
	padding: 0;
	border-style: outset;
	border-width: 5px;
	border-color: #297ACC;
}

/*************************
PAGE ABOUT
*************************/

#about_summary {
	font-family: 'Asap', sans-serif;
	display: inline-block;
	max-width: 800px;
	text-align: center;
	padding: 0 10% 20px;
}

#about_summary hr {
	margin: 10px auto;
	color: black;
	background-color: black;
	height: 1px;
	width: 80%;
}

#about_summary p.lead {
	margin-top: 30px;
	margin-left: 5px;
	padding-bottom: 5px;
	padding-right: 25px;
	float: left;
	width: 65%;
	display: block;
	color: #297ACC;
}

#profile-pic {
	margin: 0;
	float: left;
	display: block;
}

#about-top-row {
	margin-bottom: 15px;
	overflow: hidden;
	min-width: 550px;
}

.container {
	margin: 0 auto 0;
}

#GitHubLink {
	margin: 10px auto;
	display: block;
	text-align: center;
}

/*************************
HEADER
*************************/

header {
	text-align: left;
	margin: 0;
	width: 50%;
	display: block;
	float: left;
}

h1 {
	font-family: 'Exo', sans-serif;
	padding: 10px;
	padding-left: 0;
	margin: 0;
}

h2 {
	font-family: 	'Exo', sans-serif;
	padding: 0;
	margin: -15px 0 0;
	font-size: 1.5em;
}

#headerArea {
	max-width: 800px;
	width: 80%;
	display: inline-block;
}

/*************************
NAVIGATION
*************************/

nav {
	width: 40%;
/*	background-color: #FD9444;*/
	margin: 20px 0 0;
	padding: 0;
	text-align: center;
	display: block;
	float: right;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 10px 0;
}

nav a {
	text-decoration:none;
	margin: 0;
	padding: 15px 10px;	
	color: #297ACC;
}

/*************************
FOOTER
*************************/

footer {
	text-align: center;
	clear: both;
	padding: 0;
	color: #ccc;
}

footer p {
	color: gray;
}


.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px; 	
}

/*************************
COLORS
*************************/

#topheader {
	background-image: linear-gradient(to bottom, #297ACC, #5A9FF9);
	color: #FFF;
}

nav a {
	color: #fff;
}

/*************************
FOOTER
*************************/

#coming-soon {
	margin: 50px 0 10px;
	font-size: 2em;
	text-align: center;
}

/*************************
PAGE CONTACT
*************************/

#contact-info ul {
	list-style: none;
	margin-top: 0;
	text-align: center;
	max-width: 300px;
}

#contact-info li.mail {
	background-size: 20px 20px;
	background-repeat: no-repeat;
	padding: 0 0 0 30px;
	display: inline-block;
}

#contact-info li.twitter {
	background-size: 20px 20px;
	background-repeat: no-repeat;
	padding: 0 0 0 30px;
	text-align: center;
}

#contact-text {
	width: 50%;
	float: left;
	text-align: left;
	padding-right: 5px;
}

#contact-links {
	margin: 0 auto;	
	padding: 10px;
}

#contact-links-wrapper {
	overflow: hidden;
	border-left: 1px solid #297ACC;
}

#contact-links a {
	margin-left: 5px;
}

#contact-content {
	font-family: 'Asap', sans-serif;
	margin-bottom: 10px;
}

#contact-links {
	width: 250px;
	display: inline-block;
	margin: 0 auto 0;
}

#contact-links span, #contact-links a {
	float: left;
	display: inline;
}

#resume-link {
	margin: 0 auto;
	display: block;
	width: 109px;
	margin-top: 20px;
}

#blog-section {
	border-top: 1px solid #297ACC;
	padding-top: 5px;
}

span#blog-title {
	color: #297ACC;
}


/*************************
PAGE PROJECTS
*************************/

#project-select {
	float: left;
	width: 20%;
	display: block;
	text-align: left;
	list-style-type: none;
	margin-left: 0;
	border-right: solid 1px #297ACC;
	padding-right: 5px;
}
li.project-link {
	margin: 10px 0;
	list-style-type: none;
	padding: 5px 0 5px 5px;
	border: 2px solid white;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
}

.active-project {
	background-color: #297ACC;
	color: white;
}

#project-text {
	margin-top: 15px;
	width: 75%;
	display: block;
	float: right;
	text-align: left;
}

.ProjectLinks {
	margin-left: 30px;
}

.ProjectLinks a {
	margin-left: 5px;
}

/*************************
BOOTSTRAP
*************************/

.btn.tab {
	border: solid 2px white;
}

.btn.tab.active {
	color: white;
	background-color: #297ACC;
}

.btn.tab.active:hover {
	background-color: #297ACC;
}